body {
    font-family: system-ui;
    background: black;
    color: whitesmoke;
    display: flex;
    justify-content: center;
}

h1,h2,h3,h4,h5 {
    text-align: center;
    margin-bottom: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.card {
    --start: red;
    --middle: gold;
    --end: cyan;
    --tilt: 45deg;
    
    height: 500px;
    width: 350px;

    outline: 1px solid limegreen;
    border-radius: 25px;
    margin-top: 15px;
    background-image: linear-gradient(var(--tilt), var(--start),var(--middle), var(--end));
    background-size: 35px 35px;
    position: relative;
    overflow: hidden;
    .content {
        --s1: 25px;
        --s2: 5px;
        --opacity: 0.44;
        position: absolute;
        height: 200%;
        inset: 1px;
        border-radius: inherit;
        background-image: linear-gradient(rgb(8, 82, 8) var(--s1), black var(--s2));
        background-size: 100% calc(var(--s1) + var(--s2));
        background-repeat: repeat;
        opacity: var(--opacity);
        animation: rolldown 7s linear infinite;  
        
    }
}

@keyframes rolldown {
    to {
        transform: translateY(-50%);
    }
}